<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameType="DIGITAL"
        gameLabel="Digital PS4"
        gamePrice="R$ 299,99"
    ></app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        gameType="DISK"
        gameLabel="Exclusive"
        gamePrice="R$ 199,99"
    ></app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameType="DISK"
        gameLabel="Exclusive"
        gamePrice="R$ 179,99"
    ></app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        gameType="DISK"
        gameLabel="Exclusive"
        gamePrice="R$ 199,99"
    >
</app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameType="DISK"
        gameLabel="Exclusive"
        gamePrice="R$ 199,99"
    ></app-card>

    <app-card
        gameCover="assets/bt-1.jpg"
        gameType="DISK"
        gameLabel="Exclusive"
        gamePrice="R$ 199,99"
    ></app-card>
</div>